certifi==2022.9.24
charset-normalizer==2.1.1
click==6.7
Flask==0.12.2
Flask-WTF==0.14.2
idna==3.4
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==2.1.1
requests==2.28.1
urllib3==1.26.12
Werkzeug==0.12.2
WTForms==2.1
